html {
  margin:1em;
}

body {
  margin:0 auto;
  background-color:#4E6B19;
  color:#ECECD2;
}

a:link {
  text-decoration:none;
}

a {
  color:#C97D7D;
}

a:hover {
  color:#781A1A;
}

#readme {
  padding-left:1em;
  border-left:solid #A2B769 1.5em;
}

#readme h1{
  color:#4E6B19;
}

#readme h1:before {
  content:"ReadMe! ";
  color:#A2B769;
}

code {
  padding:0.1em 0.2em;
  background-color:#415914;
}


